:root {
  --white-color: #ffffff;
  --black-color: #000000;
  --light-grey-color: #d3d3d3;
  --slate-grey-color: #708090;
  --white-smoke-color: #f5f5f5;
  --ivory-color: #fffff0;
  --red-color: #ae1332;
  --font-one: Raleway;
  --font-two: Sevillana;
  --font-tree: Playfair;
}
/*Header style*/
.header-section {
  background-color: var(--white-smoke-color);
  margin: 0 auto;
  max-width: 1440px;
  padding-top: 50px;
  border-bottom: solid 1px var(--light-grey-color);
}
.container {
  max-width: 1280px;
  margin: 0 auto;
}
.header-section .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 93px;
}
.nav-bar {
  display: flex;
  text-align: center;
  margin-left: 0;
  margin-right: auto;
}

.header__nav-list {
  display: flex;
  gap: 50px;
  list-style: none;
}
.nav-link {
  text-decoration: none;
  color: var(--black);
  font-weight: 500;
  line-height: 18px;
  font-size: 20px;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--red-color);
  text-decoration: none;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.header-logo {
  padding-bottom: 10px;
  margin-right: 40px;
}
.header-icons svg {
  width: 30px;
  height: 30px;
  fill: var(--slate-grey-color);
}
.header-icons {
  display: flex;
  gap: 85px;
}
.header-icons svg:hover,
.header-icons svg:focus {
  fill: var(--red-color);
  cursor: pointer;
}
/*Hero style*/
.hero-section {
  background-color: var(--slate-grey-color);
  margin: 0 auto;
  max-width: 1440px;
  padding-top: 104px;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
}
.hero-title {
  font-family: var(--font-tree);
  font-size: 64px;
  font-weight: 500;
  line-height: 64px;
  letter-spacing: -0.04em;
  text-align: center;
  padding-bottom: 40px;
}
.hero-section__intro {
  display: flex;
  justify-content: center;
}
.hero-section__i img {
  width: 249px;
  height: 387px;
  top: 610px;
  left: 62px;
  border-radius: 700px;
  margin: 540px 0px 70px 80px;
}
.hero-section__img img {
  width: 486px;
  height: 742px;
  top: 152px;
  left: 397px;
  border: 1px;
  border: 1px solid;
  border-image-source: linear-gradient(
    359.94deg,
    #ffffff -1.7%,
    rgba(255, 255, 255, 0.441769) 30.64%,
    rgba(255, 255, 255, 0) 76.92%
  );
  border-radius: 700px;
  margin-bottom: 40px;
  margin-left: 100px;
}
.hero-button button {
  width: 184px;
  height: 156px;
  top: 41px;
  left: 9px;
  opacity: 0px;
  border-radius: 500%;
  overflow: hidden;
  margin-top: 765px;
  margin-bottom: 100px;
  background-color: var(--light-grey-color);
  color: var(--slate-grey-color);
  font-weight: 500;
  line-height: 18px;
  font-size: 20px;
}
.hero-button button:hover,
.hero-button button:focus {
  color: var(--red-color);
  transform: scale(1.5);
}
.hero-section__s img {
  width: 249px;
  height: 387px;
  top: 386px;
  left: 969px;
  border-radius: 500px;
  margin: 0px 60px 336px 60px;
}
/*Our Service style*/
.our-service__section {
  background-color: var(--white-smoke-color);
  margin: 0 auto;
  padding-bottom: 60px;
  max-width: 1440px;
  padding-top: 104px;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
}
.our-service__title {
  font-family: var(--font-one);
  font-size: 40px;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: -0.04em;
  text-align: center;
  padding-bottom: 40px;
}
.our-service__catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding-left: 0;
}
.img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  position: relative;
}

.box-name {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: var(--white-color);
  background-color: #2f303acc;
  text-align: center;
  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.41px;
  letter-spacing: 0.03em;
  padding: 10px 0;
}
/*Appointments style*/
.steps-section {
  background-color: var(--light-grey-color);
  margin: 0 auto;
  max-width: 1440px;
  padding-top: 104px;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
}
.steps-title {
  font-family: var(--font-one);
  font-size: 40px;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: -0.04em;
  text-align: center;
}
.steps-ex {
  display: flex;
  gap: 24px;
}
.step-ex {
  background-color: var(--white-color);
  border: solid var(--white-color);
  width: 389px;
  height: 128px;
  border-radius: 20px;
}
.step-ex p {
  font-family: var(--font-tree);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.04em;
  text-align: left;
  padding-left: 10px;
  box-shadow: 0px 4px 70px 0px #0000001a;
}
.steps-btn {
  font-family: var(--font-tree);
  margin-top: 15px;
  margin-left: 20px;
  border-radius: 50px;
  background-color: var(--white-smoke-color);
}

.steps-btn:hover,
.steps-btn:focus {
  color: var(--black-color);
  background-color: var(--red-color);
}
.steps-img {
  width: 860px;
  height: 676px;
  top: 1556px;
  padding-top: 60px;
  padding-left: 250px;
  border-radius: 20px 0px 0px 0px;
}
/*Feedback style*/
.feedback-section {
  background-color: var(--ivory-color);
  margin: 0 auto;
  max-width: 1440px;
  padding-top: 104px;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
}
.feedback-title {
  font-family: var(--font-one);
  font-size: 40px;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: -0.04em;
  text-align: center;
}
.feedback-icons {
  display: flex;
  padding: 60px 0;
}
.feedback-icon:hover,
.feedback-icon:focus {
  fill: var(--red-color);
}

/*Footer style*/
.footer-section {
  background-color: var(--slate-grey-color);
  margin: 0 auto;
  max-width: 1440px;
  padding-top: 104px;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
}
.footer__contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 175px;
}
.footer-address {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.logo-footer {
  padding-bottom: 40px;
}
.footer-address a {
  font-family: var(--font-one);
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-align: left;
  color: var(--white-color);
  text-decoration: none;
}
.footer__nav-bar {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer__nav-bar a {
  font-family: var(--font-one);
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-align: left;
  color: var(--white-color);
  text-decoration: none;
}
.footer-icons {
  display: flex;
  margin-top: -60px;
  gap: 15px;
}
.footer-icons svg {
  width: 44px;
  gap: 16px;
  fill: var(--white-color);
  border-radius: solid 4px var(--white-color);
}
.footer-icon {
  display: flex;
  margin-top: -60px;
  gap: 16px;
}
.footer-icon svg {
  width: 44px;
}
.footer-icon {
  display: none;
}
.copy-right-section {
  display: flex;
  justify-content: space-between;
}
.copy-right-section p {
  font-family: var(--font-one);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.02em;
  text-align: left;
  color: var(--white-color);
}
.term-of-use__section {
  display: flex;
  gap: 20px;
}
.term-of-use__section a {
  font-family: var(--font-one);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.02em;
  text-align: right;
  text-decoration: none;
  color: var(--white-color);
}

/*Media query footer*/
@media screen and (max-width: 767px) {
  .container {
    padding: 0 20px;
    margin: 0 auto;
  }
  .footer__contacts {
    padding-bottom: 75px;
  }

  .logo-footer {
    padding-bottom: 40px;
  }

  .footer-icons {
    display: none;
  }
  .footer-icon {
    display: flex;
  }
  .copy-right-section {
    flex-direction: column;
    padding-bottom: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1280px) {
  .footer-section {
    margin: 0 auto;
  }
  .container {
    padding: 0 20px;
    margin: 0 auto;
  }
  .logo-footer {
    padding-bottom: 40px;
  }
}
